# exclude individual IntelliJ settings
.idea
*.iml

# Mac-specific
.DS_Store

# target folder
/wikiaProject/target/*

# exclude latest overview of wikia wikis metadata, only save locally
/wikiaProject/src/main/resources/files/wikiaDumps/*
/wikiaProject/src/main/resources/files/wikiaOverviewIndividualDumpSizes/*
/wikiaProject/src/main/resources/files/wikiaOverviewIndividualFiles/*

# exclude the properties file for reasons of security (passwords etc.)
*.properties
/wikiaProject/src/main/resources/config.properties

# exclude csv files
*.csv

# include config sample file
!/additionalFiles/configFile/config.properties

# include language codes
!/wikiaProject/src/main/resources/files/wikiaLanguageCodes.csv

# include templates
!/wikiaProject/src/main/resources/files/templates/template_extraction_default.properties

# include properties file for tests
!/wikiaProject/src/test/resources/config.properties