# exclude individual IntelliJ settings
.idea
*.iml

# Mac-specific
.DS_Store

# target folder
/wikiaProject/target/

# exclude latest overview of wikia wikis metadata, only save locally
/wikiaProject/src/main/resources/files/*

# include language codes
!/wikiaProject/src/main/resources/files/wikiaLanguageCodes.csv

# exclude the properties file for reasons of security (passwords etc.)
*.properties

# include properties template
!/wikiaProject/src/main/resources/files/templates/template_extraction_default.properties
